## Queensland API Data Extraction

There are two main ways to query the QLD API data:
1. Request the JSON file directly
2. Use the `.../api/...` format that allows query fields e.g. `limit=5`

In [1]:
import pandas as pd
import requests

### 1. Requesting JSON file directly

* This actually only extracts the first 32,000 rows of the database (which has almost 330,000 total)

In [26]:
data_url = 'https://www.data.qld.gov.au/datastore/dump/e88943c0-5968-4972-a15f-38e120d72ec0?format=json'
qld_cc_json = requests.get(data_url).json()
qld_cc = pd.DataFrame(qld_cc_json['records'])
qld_cc.columns = [x['id'] for x in qld_cc_json['fields']]
qld_cc.tail()

,_id,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Hour,Crash_Nature,Crash_Type,Crash_Longitude_GDA94,...,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_Total,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
31987,31996,31996,Medical treatment,2016,November,Wednesday,15,Angle,Multi-Vehicle,152.350853,...,1,0,1,0,0,0,1,1,0,0
31988,31997,31997,Hospitalisation,2016,November,Thursday,2,Hit object,Single Vehicle,152.966554,...,0,0,1,1,0,0,0,0,0,0
31989,31998,31998,Medical treatment,2016,November,Thursday,7,Rear-end,Multi-Vehicle,153.315322,...,1,0,1,2,0,0,0,0,0,0
31990,31999,31999,Medical treatment,2016,November,Thursday,14,Rear-end,Multi-Vehicle,153.060994,...,1,0,1,2,0,0,0,0,0,0
31991,32000,32000,Medical treatment,2016,November,Thursday,1,Hit object,Single Vehicle,151.643171,...,2,0,2,1,0,0,0,0,0,1

### 2. Using API query

* The API query appears to randomly select results that are returned

* Can use the `limit` field in the URL to specify how many results we want to extract

In [34]:
data_url = 'https://www.data.qld.gov.au/api/3/action/datastore_search?' \
    + 'resource_id=e88943c0-5968-4972-a15f-38e120d72ec0&limit=1000'
qld_cc_json_2 = requests.get(data_url).json()

qld_cc_2 = pd.DataFrame(qld_cc_json_2['result']['records'])
qld_cc_2.tail(10)

,_id,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Hour,Crash_Nature,Crash_Type,Crash_Longitude_GDA94,...,Count_Casualty_MedicallyTreated,Count_Casualty_MinorInjury,Count_Casualty_Total,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
990,242804,242804,Medical treatment,2013,May,Thursday,14,Rear-end,Multi-Vehicle,149.190093,...,1,0,1,2,0,0,0,0,0,0
991,242805,242805,Medical treatment,2013,May,Monday,5,Angle,Multi-Vehicle,149.162729,...,1,0,1,1,0,0,0,1,0,0
992,242806,242806,Medical treatment,2013,June,Sunday,15,Angle,Multi-Vehicle,149.190875,...,2,0,2,1,0,0,1,0,0,0
993,242807,242807,Medical treatment,2013,June,Wednesday,6,Fall from vehicle,Single Vehicle,149.153523,...,1,0,1,0,1,0,0,0,0,0
994,242808,242808,Hospitalisation,2013,June,Tuesday,17,Hit object,Single Vehicle,149.198472,...,0,0,1,1,0,0,0,0,0,0
995,242809,242809,Medical treatment,2013,July,Thursday,18,Angle,Multi-Vehicle,149.163640,...,1,0,1,2,0,0,0,0,0,0
996,242810,242810,Medical treatment,2013,July,Tuesday,7,Rear-end,Multi-Vehicle,149.146600,...,1,0,1,1,0,1,0,0,0,0
997,242811,242811,Hospitalisation,2013,August,Monday,14,Angle,Multi-Vehicle,149.192132,...,0,1,2,2,0,0,0,0,0,0
998,242812,242812,Hospitalisation,2013,September,Sunday,17,Hit pedestrian,Hit pedestrian,149.157254,...,0,0,1,1,0,0,0,0,1,0
999,242813,242813,Hospitalisation,2013,October,Thursday,15,Rear-end,Multi-Vehicle,149.173479,...,0,0,1,3,0,0,0,0,0,0

In [36]:
qld_cc_2['Loc_Post_Code'][:10]

0    4650
1    4650
2    4650
3    4650
4    4650
5    4650
6    4650
7    4650
8    4650
9    4650
Name: Loc_Post_Code, dtype: object

Try using a variable to filter:

In [38]:
data_url = 'https://www.data.qld.gov.au/api/3/action/datastore_search?' \
    + 'resource_id=e88943c0-5968-4972-a15f-38e120d72ec0&limit=1000' \
    + '&Loc_Post_Code=4650'
qld_cc_json = requests.get(data_url).json()

#qld_cc = pd.DataFrame(qld_cc_json['result']['records'])
#qld_cc.tail(10)
qld_cc_json.keys()

dict_keys(['help', 'success', 'error'])

In [39]:
qld_cc_json['error']

{'__type': 'Validation Error', '__extras': ['invalid value "Loc_Post_Code"']}

Nope, doesn't work, let's try setting a ridiculous limit:

In [41]:
data_url = 'https://www.data.qld.gov.au/api/3/action/datastore_search?' \
    + 'resource_id=e88943c0-5968-4972-a15f-38e120d72ec0&limit=500000' 
qld_cc_json = requests.get(data_url).json()
qld_cc_json.keys()

dict_keys(['help', 'success', 'error'])

Again, doesn't work:

In [42]:
qld_cc_json['error']

{'info': {'params': [[]],
  'statement': ['\n            SELECT array_to_json(array_agg(j))::text FROM (\n                SELECT  "_id" as "_id", "Crash_Ref_Number" as "Crash_Ref_Number", "Crash_Severity" as "Crash_Severity", "Crash_Year" as "Crash_Year", "Crash_Month" as "Crash_Month", "Crash_Day_Of_Week" as "Crash_Day_Of_Week", "Crash_Hour" as "Crash_Hour", "Crash_Nature" as "Crash_Nature", "Crash_Type" as "Crash_Type", "Crash_Longitude_GDA94" as "Crash_Longitude_GDA94", "Crash_Latitude_GDA94" as "Crash_Latitude_GDA94", "Crash_Street" as "Crash_Street", "Crash_Street_Intersecting" as "Crash_Street_Intersecting", "State_Road_Name" as "State_Road_Name", "Loc_Suburb" as "Loc_Suburb", "Loc_Local_Government_Area" as "Loc_Local_Government_Area", "Loc_Post_Code" as "Loc_Post_Code", "Loc_Police_Division" as "Loc_Police_Division", "Loc_Police_District" as "Loc_Police_District", "Loc_Police_Region" as "Loc_Police_Region", "Loc_Queensland_Transport_Region" as "Loc_Queensland_Transport_Region", "Loc_Main_Roads_Region" as "Loc_Main_Roads_Region", "Loc_ABS_Statistical_Area_2" as "Loc_ABS_Statistical_Area_2", "Loc_ABS_Statistical_Area_3" as "Loc_ABS_Statistical_Area_3", "Loc_ABS_Statistical_Area_4" as "Loc_ABS_Statistical_Area_4", "Loc_ABS_Remoteness" as "Loc_ABS_Remoteness", "Loc_State_Electorate" as "Loc_State_Electorate", "Loc_Federal_Electorate" as "Loc_Federal_Electorate", "Crash_Controlling_Authority" as "Crash_Controlling_Authority", "Crash_Roadway_Feature" as "Crash_Roadway_Feature", "Crash_Traffic_Control" as "Crash_Traffic_Control", "Crash_Speed_Limit" as "Crash_Speed_Limit", "Crash_Road_Surface_Condition" as "Crash_Road_Surface_Condition", "Crash_Atmospheric_Condition" as "Crash_Atmospheric_Condition", "Crash_Lighting_Condition" as "Crash_Lighting_Condition", "Crash_Road_Horiz_Align" as "Crash_Road_Horiz_Align", "Crash_Road_Vert_Align" as "Crash_Road_Vert_Align", "Crash_DCA_Code" as "Crash_DCA_Code", "Crash_DCA_Description" as "Crash_DCA_Description", "Crash_DCA_Group_Description" as "Crash_DCA_Group_Description", "DCA_Key_Approach_Dir" as "DCA_Key_Approach_Dir", "Count_Casualty_Fatality" as "Count_Casualty_Fatality", "Count_Casualty_Hospitalised" as "Count_Casualty_Hospitalised", "Count_Casualty_MedicallyTreated" as "Count_Casualty_MedicallyTreated", "Count_Casualty_MinorInjury" as "Count_Casualty_MinorInjury", "Count_Casualty_Total" as "Count_Casualty_Total", "Count_Unit_Car" as "Count_Unit_Car", "Count_Unit_Motorcycle_Moped" as "Count_Unit_Motorcycle_Moped", "Count_Unit_Truck" as "Count_Unit_Truck", "Count_Unit_Bus" as "Count_Unit_Bus", "Count_Unit_Bicycle" as "Count_Unit_Bicycle", "Count_Unit_Pedestrian" as "Count_Unit_Pedestrian", "Count_Unit_Other" as "Count_Unit_Other"\n                FROM "e88943c0-5968-4972-a15f-38e120d72ec0" \n                  LIMIT 500000 OFFSET 0\n            ) AS j'],
  'orig': ['out of memory for query result\n']},
 'query': ['Invalid query'],
 '__type': 'Validation Error'}

Here's something that might be more useful:

In [45]:
help_txt = requests.get(qld_cc_json['help']).json()
print(help_txt['result'])

Search a DataStore resource.

    The datastore_search action allows you to search data in a resource.
    DataStore resources that belong to private CKAN resource can only be
    read by you if you have access to the CKAN resource and send the
    appropriate authorization.

    :param resource_id: id or alias of the resource to be searched against
    :type resource_id: string
    :param filters: matching conditions to select, e.g
                    {"key1": "a", "key2": "b"} (optional)
    :type filters: dictionary
    :param q: full text query. If it's a string, it'll search on all fields on
              each row. If it's a dictionary as {"key1": "a", "key2": "b"},
              it'll search on each specific field (optional)
    :type q: string or dictionary
    :param distinct: return only distinct rows (optional, default: false)
    :type distinct: bool
    :param plain: treat as plain text query (optional, default: true)
    :type plain: bool
    :param language: language of the full text query
                     (optional, default: english)
    :type language: string
    :param limit: maximum number of rows to return (optional, default: 100)
    :type limit: int
    :param offset: offset this number of rows (optional)
    :type offset: int
    :param fields: fields to return
                   (optional, default: all fields in original order)
    :type fields: list or comma separated string
    :param sort: comma separated field names with ordering
                 e.g.: "fieldname1, fieldname2 desc"
    :type sort: string
    :param include_total: True to return total matching record count
                          (optional, default: true)
    :type include_total: bool
    :param records_format: the format for the records return value:
        'objects' (default) list of {fieldname1: value1, ...} dicts,
        'lists' list of [value1, value2, ...] lists,
        'csv' string containing comma-separated values with no header,
        'tsv' string containing tab-separated values with no header
    :type records_format: controlled list


    Setting the ``plain`` flag to false enables the entire PostgreSQL
    `full text search query language`_.

    A listing of all available resources can be found at the
    alias ``_table_metadata``.

    .. _full text search query language: http://www.postgresql.org/docs/9.1/static/datatype-textsearch.html#DATATYPE-TSQUERY

    If you need to download the full resource, read :ref:`dump`.

    **Results:**

    The result of this action is a dictionary with the following keys:

    :rtype: A dictionary with the following keys
    :param fields: fields/columns and their extra metadata
    :type fields: list of dictionaries
    :param offset: query offset value
    :type offset: int
    :param limit: query limit value
    :type limit: int
    :param filters: query filters
    :type filters: list of dictionaries
    :param total: number of total matching records
    :type total: int
    :param records: list of matching results
    :type records: depends on records_format value passed